div class="col-2">
  <div>
    <%= image_tag(@celebrities.portrait.url, class: "rounded-circle") %>
  </div><br>
  <h6 class="text-center"><span class="text-warning">
    <%= @celebrities.name %></span></h6>
</div>
