<% content_for :slider do %>
  <%= render "layouts/slider" %>
<% end %>
<div class="page-content">
  <%= render "static_pages/moviews_dvds" %>
  <%= render "static_pages/tvshow"%>
  <div class="banner-area pb-90">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="banner-image">
            <%= image_tag("home-video/banner/1.jpg") %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
