<div class="col-2">
  <div>
    <%= image_tag(celebrity_medium.celebrity.portrait.url, class: "rounded-circle") %>
  </div><br>
  <h6 class="text-center"><span class="text-warning">
    <%= celebrity_medium.celebrity.name %></span></h6>
</div>
