<div class="col-12">
  <div class="card">
    <h3 class="movie_head"><%= link_to movie.name, movie %></h3>
    <h4 class="card-title">
      <%= image_tag movie.poster.url if movie.poster? %>
    </h4>
  </div>
</div>
<h3 class="movie_head"></h3>
