<div class="tab-pane fade" id="menu1">
  <div class="panel panel-default">
    <h2><span class="badge badge-warning">
      <%= t "movies.show.tab_movie.top" %></span></h2>
    <div>
      <% @top_score_movie.take(Settings.tab_show).each do |movie| %>
        <h5><span class="badge-light"><i class="fa fa-film" aria-hidden="true"></i></span>
          <%= link_to movie.name, movie, class: "text-warning"%>
        </h5>
      <% end %>
    </div>
    <% unless @top_score_movie.count <= Settings.tab_show %>
      <%= link_to t("movies.show.more"), movies_path, class: "text-info" %>
    <% end %>
  </div>
</div>
