<div class="tab-pane active" id="menu2">
  <div class="panel panel-default">
    <h2><span class="badge badge-warning">
      <%= t "tv_shows.show.tab_tvshow.top" %></span></h2>
      <div>
        <!-- Content -->
        <% @top_score_tvshow_tab.each do |tvshow| %>
          <h5><span class="badge-light"><i class="fa fa-film" aria-hidden="true"></i></span>
            <%= link_to tvshow.name, tvshow, class: "text-warning"%>
          </h5>
        <% end %>
        <!--end content -->
      </div>
      <% unless @top_score_tvshow.count <= 15 %>
        <%= link_to t("movies.show.more"), tv_shows_path, class: "text-info" %>
      <% end %>
    </div>
  </div>
