<div class="col-12">
  <div class="card">
    <h3 class="movie_head"><%= link_to tv_show.name, tv_show %></h3>
    <h4 class="card-title">
      <%= image_tag tv_show.poster.url if tv_show.poster? %>
    </h4>
  </div>
</div>
<h3 class="movie_head"></h3>
