<div class="footer-section">
  <div class="container-fluid">
    <div class="footer-copyright text-center">
      <p class="text-body-light"><%= t "nameweb" %> &copy;
        <span class="badge-warning badge"><%= link_to t("nameteam"), "#"%></span>
      </p>
    </div>
  </div>
</div>
