<div class="col-12">
  <div class="card">
    <h3 class="movie_head"><%= news.user_name %></h3>
    <h4 class="card-title">
      <%= news.content %>
    </h4>
  </div>
</div>
<h3 class="movie_head"></h3>
