<%= content_for :slider do %>
<div class="slider-area fake-slider container"></div>
<% end %>
<div class="row">
  <div class="col-8 offset-2">
    <h1 class="text-center"><%= t ".new" %></h1>
  </div>
</div>
<%= render "form", news: @news %>
